:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


span {
  cursor: inherit !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.element-to-center {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.my-scroll::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

.my-scroll::-webkit-scrollbar {
  height: 6px;
  overflow: visible;
  width: 6px;
  background: rgba(186,220,0, 0.3);
}

.my-scroll::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

.my-scroll::-webkit-scrollbar-track:horizontal {
  border-width: 4px 0 0;
}

.my-scroll::-webkit-scrollbar-track:hover {
  background-color: rgba(186,220,0,.05);
  box-shadow: inset 1px 0 0 rgba(186,220,0,.1);
}

.my-scroll::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(186,220,0,.1);
}

.my-scroll::-webkit-scrollbar-track:active {
  background-color: rgba(186,220,0,.05);
  box-shadow: inset 1px 0 0 rgba(186,220,0,.14),inset -1px 0 0 rgba(186,220,0,.07);
}

.my-scroll::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 rgba(186,220,0,.14),inset 0 -1px 0 rgba(186,220,0,.07);
}

.my-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(186,220,0,.5);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 1px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(186,220,0,.1),inset 0 -1px 0 rgba(186,220,0,.07);
}

.my-scroll::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 1px 1px;
  padding: 0 0 0 100px;
  box-shadow: inset 1px 1px 0 rgba(186,220,0,.1),inset -1px 0 0 rgba(186,220,0,.07);
}

.my-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(186,220,0,.7);
  box-shadow: inset 1px 1px 1px rgba(186,220,0,.25);
}

.my-scroll::-webkit-scrollbar-thumb:active {
  background-color: rgba(186,220,0,.7);
  box-shadow: inset 1px 1px 3px rgba(186,220,0,.35);
}

.my-scroll::-webkit-scrollbar-corner {
  background: transparent;
}

.hs-icon-kv {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 50px 1fr;
  height: 50px;
  cursor: default;
  padding-left: 5px;
}
.hs-icon-kv-icon {
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hs-icon-kv-key {
  display: flex;
  align-items: center;
}
.hs-icon-kv-value {
  display: flex;
  align-items: center;
}

.hs-kv {
  display: grid;
  grid-template-rows: 36px 1fr;
  height: auto;
  cursor: default;
  padding-left: 20px;
}
.hs-kv-key {
  height: 32px;
  display: flex;
  align-items: center;
}
.hs-kv-value {
  display: flex;
  align-items: center;
}

@media(min-width: 520px) {
  .view-mobile {
    display: none;
  }
  .dt-210 {
    height: 210px;
  }
}
@media(max-width: 520px) {
  .view-desktop {
    display: none;
  }
  .mb-420 {
    height: 420px;
  }
}